@{
    ViewBag.Title = "Home Page";
}

<div id="carouselSubscription" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
        <li data-target="#carouselSubscription" data-slide-to="0" class="active"></li>
        <li data-target="#carouselSubscription" data-slide-to="1"></li>
        <li data-target="#carouselSubscription" data-slide-to="2"></li>
    </ol>

    <!-- Imagens do carrossel -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/subs_banner1.jpg" class="img-fluid d-block" />
            <div class="carousel-caption">
                <h3>Curso de programação XDevs</h3>
                <p>Conteúdo exclusivo e professores com vasta experiência no mercado!</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/subs_banner2.jpg" class="img-fluid d-block" />
            <div class="carousel-caption">
                <h3>Programe com a XDevs</h3>
                <p>Melhores professores do Brasil!</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/subs_banner3.jpg" class="img-fluid d-block" />
            <div class="carousel-caption">
                <h3>Vagas limitadas</h3>
                <p>Está esperando o quê para começar a programar?</p>
            </div>
        </div>
    </div>

    <!-- Controle de direcoes -->
    <a class="left carousel-control" href="#carouselSubscription" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselSubscription" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="jumbotron">
    <h1>XDevs</h1>
    <p class="lead">XDevs é uma empresa de desenvolvimento de software com mais de uma semana de tradição no mercado.</p>
</div>