@{
    ViewBag.Title = "Inscrição";
}
<h2>@ViewBag.Title</h2>

<form method="post" action="/subscription.ext">
    <p></p>
    <p><h3>Dados pessoais</h3></p>
    <p>Nome completo:</p>
    <p><input type="text" id="nome" name="nome" placeholder="Digite seu nome completo"></p><br />
    <p>CPF:</p>
    <p><input type="number" id="cpf" name="cpf" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="Digite seu CPF"></p><br />
    <p>E-mail:</p>
    <p><input type="email" id="email" name="email" placeholder="Digite seu e-mail principal"></p><br />
    <p>Telefone celular:</p>
    <p><input type="tel" id="celular" name="celular" pattern="([0-9]{2}) [0-9]{1} [0-9]{4}-[0-9]{4}" placeholder="Digite seu celular"></p>
    <p><input type="checkbox" id="whatsapp" name="whatsapp" value="whatsapp" checked> Este celular possui WhatsApp</p><br />

    <p><h3>Endereço</h3></p><br />
    <p>CEP:</p>
    <p><input type="number" id="endereco_cep" name="endereco_cep" pattern="[0-9]{2}.[0-9]{3}-[0-9]{3}" placeholder="CEP"></p><br />
    <p>Endereço:</p>
    <p><input type="text" id="endereco_logradouro" name="endereco_logradouro" placeholder="Rua, Avenida, Travessa..."></p><br />
    <p>Número:</p>
    <p><input type="number" id="endereco_numero" name="endereco_numero" placeholder="Número"></p><br />
    <p>Bairro:</p>
    <p><input type="text" id="endereco_bairro" name="endereco_bairro" placeholder="Bairro"></p><br />
    <p>Cidade:</p>
    <p><input type="text" id="endereco_cidade" name="endereco_cidade" placeholder="Cidade"></p><br />
    <p>Estado</p>
    <p>
        <select id="endereco_estado" name="endereco_estado">
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AM">AM</option>
            <option value="AP">AP</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MG">MG</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="PR">PR</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="RS">RS</option>
            <option value="SC">SC</option>
            <option value="SE">SE</option>
            <option value="SP">SP</option>
            <option value="TO">TO</option>
        </select>
    </p><br />

    <input type="submit" name="enviar" value="Enviar">
</form>